fastapi>=0.88.0
Jinja2==3.1.2
huggingface-hub>=0.11.1
pandas>=1.5.2
python-multipart>=0.0.5
torch>=1.13.0
tqdm>=4.64.1
transformers>=4.24.0
uvicorn>=0.20.0
redis
diffusers
accelerate
bitsandbytes==0.36.0.post2
